<html>
<head>
 <title></title>
</head>
<body>
 <h3>Survey Form</h3>
 <form action='/users' method='post'>
  	Your Name: <input type='text' name='name'>
  	Dojo Location:
	  <select name="location">
	  	<option value="Mountain View">Mountain View</option>
	  	<option value="Seattle">Seattle</option>
	  	<option value="San Francisco">San Francisco</option>
	  	<option value="Washington, D.C.">Washington, D.C.</option>
	  	<option value="Austin">Austin</option>
	  </select>
	Favorite Language:
	  <select name="language">
	  	<option value="Javascript">Javascript</option>
	  	<option value="PHP">PHP</option>
	  	<option value="Python">Python</option>
	  	<option value="Ruby">Ruby</option>
	  	<option value="HTML">HTML</option>
	  </select>
	Comment: <textarea name="comment"></textarea>
  <input type='submit' value='Submit'>
 </form>
</body>
</html>