<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id='wrapper'>
			<h3>Submitted Information</h3>
			<table>
				<tr>
					<td>Your Name:</td>
					<td><%= name %></td>
				</tr>
				<tr>
					<td>Dojo Location:</td>
					<td><%= location %></td>
				</tr>
				<tr>
					<td>Favorite Language:</td>
					<td><%= language %></td>
				</tr>
				<tr>
					<td>Comment (optional):</td>
					<td><%= comment %></td>
				</tr>
			</table>
			<a href="/"><button>Go back</button></a>
		</div>
</body>
</html>