<html>
<head>
 <title></title>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type ="text/javascript">
		$(document).ready(function () {

			var socket = io.connect();

			$('form').submit(function(){
				console.log("FORM SUBMITTED");
				socket.emit("form_submitted", {
					name: $('#name').val(),
					location: $('#location').val(),
					language: $('#language').val(),
					comment: $('#comment').val()
				});
				return false;
			});
			socket.on('send_message', function (data){
				$('#message').html("You emitted the following information to the server:" + "{ Name: '" + data.name + "', Location: '" + data.location + "', Language: '" + data.language + "', Comment: '" + data.comment + "' } Your lucky number emitted by the server is " + data.lucky_num);
			});
		})
	</script>
</head>
<body>
<div id="message"></div>
 <h3>Survey Form</h3>
 <form method="post">
  	Your Name: <input type='text' id='name'>
  	Dojo Location:
	  <select id="location">
	  	<option value="Mountain View">Mountain View</option>
	  	<option value="Seattle">Seattle</option>
	  	<option value="San Francisco">San Francisco</option>
	  	<option value="Washington, D.C.">Washington, D.C.</option>
	  	<option value="Austin">Austin</option>
	  </select>
	Favorite Language:
	  <select id="language">
	  	<option value="Javascript">Javascript</option>
	  	<option value="PHP">PHP</option>
	  	<option value="Python">Python</option>
	  	<option value="Ruby">Ruby</option>
	  	<option value="HTML">HTML</option>
	  </select>
	Comment: <textarea id="comment"></textarea>
  <input type='submit' value='Submit'>
 </form>
</body>
</html>